body {
    margin: 0;
    overflow: hidden;
    background-color: #70c5ce;
    font-family: Arial, sans-serif;
  }
  
  
#game{
    height:500px;
    width: 200;
    border: 1px solid black;
    background: url(bg.jpg);
    background-size: cover;
    margin: 1rem auto;
    overflow: hidden;

}

#block{
    width: 50px;
    height: 500px;
    background-color: blue;
    position: relative;
    left: 400px;
    animation: block 2s linear infinite;
}

@keyframes block {
    0%{
        lef: 400px;

    }

    100%{
        left: -50px;
    }
    
}

#hole{
    height: 150px;
    width: 50px;
    background-color: yellow;
    position: relative;
    left: 400px;
   top: -500px;
   animation: block 2s linear infinite;
}

#bird{
    position: fixed;
    top: 100px;
    height: 50;
    width: 50px;
}


#bird img{
    height: 50px;
    width: 50px;
}

#result{
    height: 200px;
    width: 500px;
    background-color: red;
    margin: 5rem auto;
    border: 2px solid white;
    border-radius: 20px;
    display: none;
    text-align: center;
}

#btn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 11px;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}

#text{
    margin-top: 1 rem;
    font-size: 2rem;
    color: seashell;

}